body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    max-width: 1200px;
    /* width: 800px; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box-section,
.upload-section,
.dashboard-section {
    margin-bottom: 20px;
}

.title-section {
    display: flex;
    justify-content: space-between;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}


#single-url {
    padding: 3px 2px;
    font-size: medium;
}


/* GREEN BUTTONS */
#single-url-button {
    margin-left: 15px;
}

#single-url-button,
#upload-csv-btn,
#download {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

#single-url-button:focus:not(:focus-visible):not(.focus-visible),
#upload-csv-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

#upload-csv-btn:hover,
#single-url-button:hover,
#download:hover {
    background-color: #2d954a;
}

#single-url-button:focus,
#upload-csv-btn:focus,
#download:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

#fetch-data,
#logout-btn,
input::file-selector-button {
    align-items: center;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    justify-content: center;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#fetch-data,
input::file-selector-button {
    background-color: #0A66C2;
}

#logout-btn {
    background-color: #c82828;
}

#logout-btn:hover,
#logout-btn:focus {
    background-color: #930b0b;
    color: #ffffff;
}

#fetch-data:hover,
#fetch-data:focus,
input::file-selector-button:hover,
input::file-selector-button:focus {
    background-color: #1055a9;
    color: #ffffff;
}

.bottom-btns {
    margin: 15px 0 0 0;
    display: flex;
    gap: 20px;
}